<div class="splash">
  <!-- Vintage Guitar Shop In Rome by Yair Taragano -->

  <div class="row">
    <div class="small-12 small-centered columns">
      <h2 class="splash-headline">Learn to play the songs you love.</h2>
    </div>
  </div>

  <div class="row">
    <span><%= link_to "Login", login_path,  class:"button radius" %></span>
    <span><%= link_to "Register", new_user_path,  class:"button radius" %></span>
  </div>

</div>