<div class="row">
  <div class="small-12 small-centered columns">
    <div class="small-3 columns">
      <% if song.difficulty %>
        <%= song.difficulty %>  
      <% else %>
        Beginner  
      <% end %>
    </div>
    <div class="small-3 columns">
      <%= link_to truncate(song.title,:length => 24), lessons_path(song_id: song.id) %>
    </div>
    <div class="small-3 columns">
      <%= link_to "View Lessons", lessons_path(song_id: song.id) %>
    </div>
    <div class="small-3 columns">
      <%= link_to('Add to my songs', saved_songs_path(song_id: song.id), method: :post, class:"button tiny") %>
    </div>
  </div>
</div>
