<div class="row">
  <div class="small-4 columns">
    <h1>Add Lesson</h1>
  </div>

  <% if @lesson.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @lesson.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= render 'form' %>
</div>