.splash{
  text-align: center;
  background-image: url(image_path("splash-background.jpg"));
  background-size: cover;
  height: 100%;
}

.splash-headline{
  padding-top: 125px;
  text-align: center;
  color: #F2F2F2;
  font-size: 62px;
}
