.splash{
  text-align: center;
  background-image: url(image_path("splash-background.jpg"));
  background-size: cover;
  height: 100%;
}

.splash-headline{  
  text-align: center;
  color: #F2F2F2;
  font-size: 62px;
  padding-top: 150px;
}

input[type=text],
input[type=password],
input[type=select]{
  height: 50px;
  font-size: 32px;
  color: grey;
}

#song_search,
#new_lesson{
  margin-top: 20px;
}

.postfix{
  height: 50px;
  font-size: 32px;
}

a.button{
  font-size: 32px;
  padding: 10px;
  width: 150px;
}

.splash-container{
  padding-bottom: 100px;
  background: linear-gradient(rgba(41, 63, 80, 1),rgba(41, 63, 80, 0) );
}

