/*-------------------------------- */
/* General
/*-------------------------------- */

body
  color: #888
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color: #f2f2f2

.alert-box
  background-color: rgba(255, 158, 49, 0.1)
  border: 0
  color: #648880

/*-------------------------------- */
/* Songs
/*-------------------------------- */

.saved-song, .song 
  .row
    background-color: rgba(255, 158, 49, 0.1)
    height: 3em
    line-height: 3em
    margin-bottom: 20px
    font-size: 1.0em

/*-------------------------------- */
/* Forms
/*-------------------------------- */   

input[type=text],
input[type=password],
input[type=select]
  height: 50px
  font-size: 32px
  color: grey

.right
  li
    margin-right: 10px

/*-------------------------------- */
/* Images
/*-------------------------------- */   

.avatar
  border-radius: 10%

.logo
  margin-left: 30px

/*-------------------------------- */
/* Typography
/*-------------------------------- */

h1, h2, h3
  color: #648880

h4
  color: rgba(255, 158, 49, 0.8)

/*-------------------------------- */
/* Lessons
/*-------------------------------- */

.table-header
  margin-bottom: 10px

.show-lesson
  margin-top: 30px

.switch
  margin: 0
  padding: 5px