.row
  div
    //border: 1px dotted chocolate

.right
  li
    margin-right: 10px

.avatar
  border-radius: 50%

body
  color: #888
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color: #f2f2f2

h1, h2, h3, h4
  color: #648880




